body {
  font-family: sans-serif;
}

#container {
  display: flex;
}

.box {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  border-radius: 5px;
}

#piedra {
 background-color: rgba(0, 0, 255, 0.5);
}

#papel {
  background-color: rgba(255, 0, 0, 0.5);
}

#tijera {
  background-color: rgba(0, 255, 0, 0.5);
}

#piedra:hover {
  background-color: rgba(0, 0, 255, 1);
  cursor: pointer;
}

#papel:hover {
  background-color: rgba(255, 0, 0, 1);
  cursor: pointer;
}

#tijera:hover {
  background-color: rgba(0, 255, 0, 1);
  cursor: pointer;
}

#figura1 {
  border-radius: 50px;
  width: 25px;
  height: 25px;
  background-color: #fff;
}

#figura2 {
    width: 25px;
  height: 25px;
  background-color: #fff;
}

#figura3 {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

#piedraCOM {
  background-color: #808080;
}

#papelCOM {
  background-color: #808080;
}

#tijeraCOM {
  background-color: #808080;
}

#ladoCentral {
  align-self: center;
}

.hide {
  visibility: hidden;
}

span {
  font-size: 30px;
}